<nav class="crud-nav">
    <div class="row">
        <div class="items-wrapper col-md-12">
            <div class="menu-item">
                <a asp-controller="Products" asp-action="Index">Products</a>
            </div>
            <div class="menu-item">
                <!-- next menu item -->
            </div>
        </div>
    </div>
</nav>